extends layout

block content
    div#testcontrol
        h3 Download tests
        p 
            a(href="/") Home
        p 
            a#downloadinfo(href='#') Click to test Download RTT!
        
        h3 Results
        
    div#downloadstatus