extends layout

block content
    h3 COSC 480 network speed test (project 8)

    p I have no results, but I have a message: #{message}
    if user
        p Hey, you're not anonymous!  You are: #{user}
    else
        p You are an undefined user.  How sad.


