html
  head
    title= title
    script(src='/javascripts/jquery-2.1.0.min.js')
    script(src='/socket.io/socket.io.js')
    script(src='/javascripts/appclient.js')
    link(href="/css/app.css", rel="stylesheet")

  body
    #header
        p This is a header div!

    block content
