extends layout

block content
    div#testcontrol
        h3 Run tests
        
        p
            a(href="/") Home
        
        p
            a#startping(href="#") Click to test Download RTT!
        
        h3 Results

    div#status
