extends layout

block content
    div#testcontrol
        h3 Upload tests
        p 
            a(href="/") Home
        p 
            a#uploadinfo(href='#') Click to test Upload RTT!
        
        h3 Results
        
    div#uploadstatus